@tailwind base;
@tailwind components;
@tailwind utilities;

/* .main:hover .section:not(:hover) {
  @apply w-[50px];
}

.main:hover .section:not(:hover) *:not(video) {
  @apply opacity-0;
}

.main .section * {
  @apply duration-300;
}

.main .section:not(:hover) div .cc {
  @apply max-h-0;
  @apply opacity-0;
  @apply duration-300;
}

.main .section:hover div .cc {
  @apply max-h-[500px];
  @apply opacity-100;
} */

* {
  user-select: none;
  scroll-behavior: smooth;
}

/* LogoScroller.module.css */

.animate-scroll {
  animation: scroll 5s linear infinite; /* Replace with your desired animation */
}

@keyframes scroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%); /* Adjust based on total logo height */
  }
}

/* In your styles.css or any other CSS file */
@layer utilities {
  .custom-transform {
    @apply translate-y-[-5%] rotate-[25deg];
    perspective: 900px;
    transform: translateY(-5%) rotateX(25deg) translateZ(0);
  }
}

.imgC {
  mix-blend-mode: multiply;
}

.instagram {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
}

.facebook {
  background-color: #1877f2;
}

.linkedin {
  background: #0a66c2;
}

.animate {
  animation: replace 8s ease-in-out infinite;
}

@keyframes replace {
  0% {
    transform: translate(0, 0) rotate(5deg);
  }
  25% {
    transform: translate(0, 10px) rotate(3deg);
  }
  50% {
    transform: translate(10px, 5px) rotate(2deg);
  }
  75% {
    transform: translate(5px, 0) rotate(3deg);
  }
  100% {
    transform: translate(0, 0) rotate(5deg);
  }
}
